    <type>STANDARD</type>
    <stack-id>ODP-{{ odp_minor_version }}</stack-id>
    <version>{{ odp_version }}</version>
    <build>{{ odp_build_number_auto|default(odp_build_number) }}</build>
    <compatible-with>{{ odp_major_version }}\.\d+\.\d+\.\d+</compatible-with>
    <release-notes>http://example.com</release-notes>
    <display>ODP-{{ odp_version }}</display>

